#map {
    height: 100vh;
}

#main {
    position: relative;
}

#search-container {
    z-index: 1000;
    position: absolute;
    min-height: 50px;
    width: 200px;
    top: 30px;
    left: 50px;
    background-color: rgba(255,255,255,0.5);
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 50px;
}

#search-container input {
    width: auto;
}


#search-btn {
    position: absolute;
    left: 200px;
    top: 25px;
    z-index: 9999;
}

.result-item {
    display: block; /* Make each result a block element */
    padding: 10px; /* Add some padding around the text */
    margin-bottom: 5px; /* Add space between items */
    background-color: #ffffff; /* Set a white background */
    border: 1px solid #ddd; /* Add a light border */
    border-radius: 4px; /* Round the corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add a subtle shadow */
    transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
    cursor: pointer; /* Change the mouse cursor on hover */
  }
  
  .result-item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Darker shadow on hover */
  }
  
  .result-item h1 {
    font-size: 16px; /* Match the size to your design */
    color: #333; /* Dark grey color for the text */
    margin: 0; /* Remove default margins */
    overflow: hidden; /* Ensure content doesn't overflow */
    white-space: nowrap; /* No wrapping of text to new line */
    text-overflow: ellipsis; /* Add ellipsis to overflowed text */
  }